<IfModule mod_rewrite.c>
    RewriteEngine On

    # Редирект с www.deshevyi.ru на deshevyi.ru
    RewriteCond %{HTTP_HOST} ^www\.deshevyi\.ru$ [NC]
    RewriteRule ^(.*)$ https://deshevyi.ru/$1 [L,R=301]

    # Остальные правила (работа с public/)
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -d
    RewriteRule ^(.*)$ public/$1 [L,QSA]

    RewriteRule ^(.*)$ public/index.php [L,QSA]
</IfModule>
