*{
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Verdana;
}

a {
    color: rgb(26, 13, 171);
}

body::-webkit-scrollbar {
    background: #f6f6f6;
    border-radius: 3px;
    width: 7px;
}
body::-webkit-scrollbar-thumb {
    background: #cccac9;
    border-radius: 10pt;
    cursor: pointer;
}

.wrapper {
    color: #000;
    background-color: #fff;
    padding: 0 0px 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.center-wrap {
    min-height: 100vh;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100%;
    margin: 0 10px;
    /*display: flex;
    flex-direction: row;
    flex: 1;*/
    /*flex: 1 1 auto;*/
}

article {
    background-color: #fff;
    flex: 1;
    padding: 0px;
}

aside {
    background-color: #eee;
    flex: 0 0 1px;
    overflow: hidden;
    padding: 20px;
}

aside {
    order: -1;
}

header {
    background-color: #f6f6f6;
    border-bottom: 1px solid #e9e6e4;
    flex: 0 0 10px;
    padding: 4px;
    font-size: 1.2em;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

ul.list {
    list-style: none;
    margin: 0;
    padding: 0;
    }

    ul.list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
    }

    ul.list li:nth-child(even) {
        background-color: #f0f0f0; /* Серый цвет фона для каждого второго элемента */
    }


ul.list li .buttons {
        display: flex;
        gap: 8px; /* Расстояние между кнопками */
    }

    ul.list li span {
        flex-grow: 1; /* Растягивает текстовый элемент на всю доступную ширину */
    }

.brcr {
    width: 100%;
    margin: 15px 0;
}

.line {
    margin: 15px 0;
}

.stickyBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid gray;
    padding: 15px;
    background: #fff;
    width: 100%;
    text-align: right;
}

.login {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}

.button-box {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    }

